<ion-header>
  <ion-navbar color = toolbar>
    <ion-toolbar>
    <ion-segment color = secondary [(ngModel)]="view">
      <ion-segment-button value="suggestions">
        Suggestions
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'suggestions'">
      <ion-searchbar (ionInput)="getSuggestions($event)"></ion-searchbar>
      <button ion-item *ngFor="let Beer of suggestions" (click)="beerSelected( Beer )">
       {{ Beer }}
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'history'">
      <ion-searchbar (ionInput)="getHistory($event)"></ion-searchbar>
      <button ion-item *ngFor="let Beer of beerLog" (click)="beerSelected( Beer )">
       {{ Beer }}
      </button>
    </ion-list>
  </div>


  <ion-fab bottom left>
    <button id="scanner" ion-button clear large icon-only (click)="beginScanning()"> 
      <ion-icon name="barcode"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom center>
    <button id="home" ion-button clear large icon-only (click)="goHome()"> 
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>
