<ion-header>
  <ion-navbar>
    <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="suggestions">
        Suggestions
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'suggestions'">
      <ion-searchbar (ionInput)="getSuggestions($event)"></ion-searchbar>
      <button ion-item *ngFor="let Beer of suggestions" (click)="suggestionSelected( Beer )">
       {{ Beer }}
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'history'">
      <ion-searchbar (ionInput)="getHistory($event)"></ion-searchbar>
      <button ion-item *ngFor="let Beer of beerLog" (click)="BeerSelected( Beer )">
       {{ Beer }}
      </button>
    </ion-list>
  </div>
</ion-content>
